/* Impelementação Guia de Estilo CSS SIGAEST
    author: Matheus Seabra  
    */

    /* Fonte: Open Sans - 300 e 700 */

    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

    /* Variáveis CSS */

    :root {

        /* Tipografia */

        --font: 'Open Sans', sans-serif;
        --font-light: 300;
        --font-bold: 700;

        --font-size-sm: 14px;
        --font-size-md: 16px;
        --font-size: 18px;

        /* Paleta primária */

        --blue-light: #B3D0E7;
        --blue-dark: #337AB7;
        --yellow: #ECC633;
        --pink: #C32B66;

        /* Secundárias */

        --white: #FFF;
        --white-opaque: #F5F5F5;
        --grey: #DDDDDD;
        --dark-grey: #464646;
        --black: #212121;

        /* Títulos */

        --h1: 36px;
        --h2: 24px;
        --h3: 18px;
        --h4: 12px;

        /* Breakpoints de dispotivos (responsividade) */

        --sm: 480px;
        --md: 678px;
        --lg: 768px;
    }

    body {
        background-color: var(--white-opaque);
        font-family: var(--font);
        overflow-x: hidden;
        font-size: var(--font-size-md);
        font-weight: var(--font-light);
        margin: 0;
        padding: 0;
        animation: .45s ease-in-out 0s fadeIn; 
    }

    /* Títulos */

    h1, h2, h3, h4 {
        line-height: 1.5;
        font-family: var(--font);
        font-weight: var(--font-bold);
    }

    h1 {
        font-size: var(--h1);
    }

    h2 {
        font-size: var(--h2);
    }

    h3 {
        font-size: var(--h3);
    }

    h4 {
        font-size: var(--h4);
    }

    /* Paragraphs */

    p {
        font-size: var(--font-size-md);
        line-height: 1.3;
    }


    /* Botões */

    .btn-primary {
        padding: .8em 0;
        font-weight: var(--font-bold);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .btn-default {
        padding: .8em;
        font-weight: var(--font-bold);
        border: none;
    }

    .btn-link {
        margin: 10px 0;
        color: #999;
    }

    .row {
        margin: 15px 0 15px 0;
    }

    /* Cards */

    .card {
        padding: 1em;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        transform: translateY(0px);
    }

    .card:hover {
        transform: translateY(-8px);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
      }

    .card .white-bg {
        background-color: var(--white);
        color: var(--black);
    }

    .blue-bg {
        background: linear-gradient(45deg, var(--blue-dark), var(--blue-light));
        color: var(--white);
    }

    .dashboard {
        padding: 25px 0 50px 0;
    }

     /* Navbar Menu */

    .navbar {
        border: none;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .navbar-inverse {
        background: linear-gradient(45deg, var(--blue-light), var(--blue-dark));
        border-color: none;
    }

    .navbar-inverse .navbar-header h3 {
        color: #FFF;
        font-weight: var(--font-bold);
        margin: 5px 0;
        padding: 0;
    }

    .navbar-inverse .navbar-header h3 img {
        margin: 0;
        padding: 0;
    }

    /* List group */

    
    .list-group-item {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
        padding: 1em;
        font-weight: 700;
    }

    .list-group-item span a i {  
        margin-right: 15px;   
    }

    .list-group-item span a .edit {  
        color: var(--yellow);  
    }

    .list-group-item span a .delete {  
        color: var(--pink);   
    }

    /* Inputs */

    input[type="text"], input[type="email"], input[type="password"], select {
        border: 2px solid var(--grey);
        padding: 1.5em 1em;
        font-family: var(--font);
        font-weight: var(--font-light);
        outline: none;
    }

    input[type="text"]::placeholder, input[type="text"]::-webkit-input-placeholder  {
        font-family: var(--font);
        font-weight: var(--font-light);
    }

    /* Helper classes */

    .dados-pessoais {
        margin: 0;
        padding: 0;
        margin: 25px 0 25px 0;
        font-weight: 700;
        list-style-type: none;
    }

    

    a { cursor: pointer; }

    .help-block { font-size: 12px; }

    @keyframes fadeIn {
  
        0% {
          transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
          opacity: 0;
        }
      
        100% {
          transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
          opacity: 1;
        }
      }

    @keyframes fadeInUp {
  
        0% {
          transform: translateY(15px);
          transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
          opacity: 0;
        }
      
        100% {
          transform: translateY(0px);
          transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
          opacity: 1;
        }
      }